# Analisando os resultados

In [198]:
EXPERIMENTS_PATH = '../TCC/experiments'
EXPERIMENT_NUMBER = 1
import pandas as pd
import numpy as np
import os

### Experimento 1

#### Primeiros passos

In [199]:
YEAR = 2023
df = pd.read_csv(f'{EXPERIMENTS_PATH}/{EXPERIMENT_NUMBER}/{YEAR}/enem_2023.csv')
df.head()

,id,year,area,sp_area,day,body,alternatives,answer,GEMINI_2023_answers,GPT-3.5-turbo-answers,GPT3.5_2023_answers,Llama2_2023_answers
0,01I,2023,LC - Linguagens e Códigos,Inglês,D1,"QUESTÃO 01 \nNo man is an island,\nEntire of ...",\nA medo da morte.\nB ideia de conexão.\nC con...,B,B,B,B,B
1,02I,2023,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 02 \nThings We Carry on the Sea\nWe c...,\nA risco de choques culturais.\nB impacto do ...,D,D,D,D,D
2,03I,2023,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 03 \nDescrição do cartaz: Foto de par...,\nA os lixões precisam de ampliação. \nB o des...,B,B,B,B,B
3,04I,2023,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 04 \nDescrição do cartum: Em um escri...,\nA criticar um padrão de vestimenta.\nB desta...,B,B,B,C,C
4,05I,2023,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 05 \nSpanglish (fragmento)\nTato Lavi...,\nA convergência linguístico-cultural.\nB cara...,A,A,A,A,A

In [200]:
df['GPT_result'] = df['GPT3.5_2023_answers'] == df['answer']
df['GPT_result'].value_counts()

GPT_result
True     110
False     75
Name: count, dtype: int64

In [31]:
df['GPT_UI_result'] = df['GPT-3.5-turbo-answers'] == df['answer']
df['GPT_UI_result'].value_counts()

GPT_UI_result
True     128
False     57
Name: count, dtype: int64

In [201]:
df['Llama2_result'] = df['Llama2_2023_answers'] == df['answer']
df['Llama2_result'].value_counts()

Llama2_result
False    95
True     90
Name: count, dtype: int64

In [202]:
df['GEMINI_result'] = df['GEMINI_2023_answers'] == df['answer']
df['GEMINI_result'].value_counts()

GEMINI_result
True     132
False     53
Name: count, dtype: int64

In [34]:
similar_answers = df[(df['Llama2_2023_answers'] == df['GPT-3.5-turbo-answers']) & (df['GPT-3.5-turbo-answers'] == df['GEMINI_2023_answers'])]
len(similar_answers)

78

In [35]:
df['answer'].value_counts()

answer
A          46
C          38
D          37
B          34
E          29
Anulado     1
Name: count, dtype: int64

In [36]:
df.Llama2_2023_answers.value_counts()

Llama2_2023_answers
C    66
B    46
D    34
E    27
A    12
Name: count, dtype: int64

In [37]:
display(df.query('Llama2_result == True ')['Llama2_2023_answers'].value_counts())

Llama2_2023_answers
C    27
B    20
D    19
A    12
E    12
Name: count, dtype: int64

#### Análise 2018 - 2023

In [203]:
df_2018 = pd.read_csv(f'{EXPERIMENTS_PATH}/{EXPERIMENT_NUMBER}/2018/enem_2018.csv')
display(df_2018.head())
df_2019 = pd.read_csv(f'{EXPERIMENTS_PATH}/{EXPERIMENT_NUMBER}/2019/enem_2019.csv')
# display(df_2019.head())
df_2020 = pd.read_csv(f'{EXPERIMENTS_PATH}/{EXPERIMENT_NUMBER}/2020/enem_2020.csv')
# display(df_2020.head())   
df_2022 = pd.read_csv(f'{EXPERIMENTS_PATH}/{EXPERIMENT_NUMBER}/2022/enem_2022.csv')
# display(df_2022.head())
df_2023 = pd.read_csv(f'{EXPERIMENTS_PATH}/{EXPERIMENT_NUMBER}/2023/enem_2023.csv')
# display(df_2023.head())

,id,year,area,sp_area,day,body,alternatives,answer,GEMINI_2018_answers,GPT3.5_2018_answers,Llama2_2018_answers
0,01I,2018,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 01 \nLava Mae: Creating Showers on Wh...,\nA empregar moradores de rua em lava a jatos ...,B,B,B,B
1,02I,2018,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 02 \nDescrição do cartum:\nO cartum a...,\nA se aposente prematuramente.\nB amadureça p...,B,B,B,B
2,03I,2018,LC - Linguagens e Códigos,Inglês,D1,"QUESTÃO 03 \nDon't write in English, they sai...",\nA usa a língua inglesa com efeito humorístic...,D,D,D,D
3,04I,2018,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 04 \nTEXTO I\n A Free World-class Edu...,\nA elogiar o trabalho proposto para a educaçã...,E,E,E,E
4,05I,2018,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 05 \n1984 (excerpt)\nGeorge Orwell\n‘...,\nA boicote a ideais libertários.\nB veto ao c...,C,C,C,C

In [204]:
def check_models_answers(df, year):
    print(df[f'GEMINI_{year}_answers'].value_counts())
    print('Soma das respostas do GEMINI:', df[f'GEMINI_{year}_answers'].value_counts().sum())
    print(df[f'GPT3.5_{year}_answers'].value_counts())
    print('Soma das respostas do GPT3.5:', df[f'GPT3.5_{year}_answers'].value_counts().sum()) 
    print(df[f'Llama2_{year}_answers'].value_counts())
    print('Soma das respostas do Llama2:', df[f'Llama2_{year}_answers'].value_counts().sum())

In [205]:
def check_models_results(df, year):
    df['GPT_result'] = np.where(df[f'GPT3.5_{year}_answers'] == 'No answer', 'No answer', df[f'GPT3.5_{year}_answers'] == df['answer'])
    print(df['GPT_result'].value_counts())
    df['Llama2_result'] = np.where(df[f'Llama2_{year}_answers'] == 'No answer', 'No answer', df[f'Llama2_{year}_answers'] == df['answer'])
    print(df['Llama2_result'].value_counts())
    df['GEMINI_result'] = np.where(df[f'GEMINI_{year}_answers'] == 'No answer', 'No answer', df[f'GEMINI_{year}_answers'] == df['answer'])
    print(df['GEMINI_result'].value_counts())

In [206]:
def check_areas_results(model, df):
    areas_dict = {}
    areas_dict['Model'] = model
    
    cn_df = df.query('area == "CN - Ciências da Natureza"')
    areas_dict['CN_true'] = cn_df.query(f'{model}_result == "True"').shape[0]
    areas_dict['CN_false'] = cn_df.query(f'{model}_result == "False"').shape[0]
    if(areas_dict['CN_true'] + areas_dict['CN_false'] < 45):
        areas_dict['CN_no_answer'] = int(cn_df.query(f'{model}_result == "No answer"').shape[0])
    
    ch_df = df.query('area == "CH - Ciências Humanas"')
    areas_dict['CH_true'] = ch_df.query(f'{model}_result == "True"').shape[0]
    areas_dict['CH_false'] = ch_df.query(f'{model}_result == "False"').shape[0]
    if(areas_dict['CH_true'] + areas_dict['CH_false'] < 45):
        areas_dict['CH_no_answer'] = int(ch_df.query(f'{model}_result == "No answer"').shape[0])
    
    lc_df = df.query('area == "LC - Linguagens e Códigos"')
    areas_dict['LC_true'] = lc_df.query(f'{model}_result == "True"').shape[0]
    areas_dict['LC_false'] = lc_df.query(f'{model}_result == "False"').shape[0]
    if(areas_dict['LC_true'] + areas_dict['LC_false'] < 50):
        areas_dict['LC_no_answer'] = int(lc_df.query(f'{model}_result == "No answer"').shape[0])
    
    mt_df = df.query('area == "MT - Matemática e Códigos"')
    areas_dict['MT_true'] = mt_df.query(f'{model}_result == "True"').shape[0]
    areas_dict['MT_false'] = mt_df.query(f'{model}_result == "False"').shape[0]
    if(areas_dict['MT_true'] + areas_dict['MT_false'] < 45):
        areas_dict['MT_no_answer'] = int(mt_df.query(f'{model}_result == "No answer"').shape[0])
        
    return areas_dict

In [207]:
def save_models_results(df, year):
    
    result_counts_gemini = df['GEMINI_result'].value_counts()
    result_counts_gemini = pd.DataFrame(result_counts_gemini).transpose()
    
    if ('No answer' in result_counts_gemini.columns):
        result_counts_gemini = result_counts_gemini.rename(columns={'True': 'Right', 'False': 'Wrong'})
    else: 
        result_counts_gemini = result_counts_gemini.rename(columns={True: 'Right', False: 'Wrong'})
    result_counts_gemini['Year'] = year
    result_counts_gemini['Model'] = 'GEMINI'
    
    areas_stats = check_areas_results(result_counts_gemini['Model'].values[0], df)
    areas_stats_df = pd.DataFrame(areas_stats, index=[0]).set_index('Model')
    result_counts_gemini = result_counts_gemini.join(areas_stats_df, on='Model', how='left')
    

    result_counts_gpt = df['GPT_result'].value_counts()
    result_counts_gpt = pd.DataFrame(result_counts_gpt).transpose()
    
    
    if('No answer' in result_counts_gpt.columns):
        result_counts_gpt = result_counts_gpt.rename(columns={'True': 'Right', 'False': 'Wrong'})
    else:
        result_counts_gpt = result_counts_gpt.rename(columns={True: 'Right', False: 'Wrong'})
    result_counts_gpt['Year'] = year
    result_counts_gpt['Model'] = 'GPT'

    areas_stats = check_areas_results(result_counts_gpt['Model'].values[0], df)
    areas_stats_df = pd.DataFrame(areas_stats, index=[0]).set_index('Model')
    result_counts_gpt = result_counts_gpt.join(areas_stats_df, on='Model', how='left')
    
    
    result_counts_llama = df['Llama2_result'].value_counts()
    result_counts_llama = pd.DataFrame(result_counts_llama).transpose()
    
    if('No answer' in result_counts_llama.columns):
        result_counts_llama = result_counts_llama.rename(columns={'True': 'Right', 'False': 'Wrong'})
    else:
        result_counts_llama = result_counts_llama.rename(columns={True: 'Right', False: 'Wrong'})
    result_counts_llama['Year'] = year
    result_counts_llama['Model'] = 'Llama2'
    
    areas_stats = check_areas_results(result_counts_llama['Model'].values[0], df)
    areas_stats_df = pd.DataFrame(areas_stats, index=[0]).set_index('Model')
    result_counts_llama = result_counts_llama.join(areas_stats_df, on='Model', how='left')
    
    if('True' in result_counts_llama.columns) or ('False' in result_counts_llama.columns):
        result_counts_llama = result_counts_llama.rename(columns={'True': 'Right', 'False': 'Wrong'})
    if('True' in result_counts_gpt.columns) or ('False' in result_counts_gpt.columns):
        result_counts_gpt = result_counts_gpt.rename(columns={'True': 'Right', 'False': 'Wrong'})
    if('True' in result_counts_gemini.columns) or ('False' in result_counts_gemini.columns):
        result_counts_gemini = result_counts_gemini.rename(columns={'True': 'Right', 'False': 'Wrong'})

    result_counts_total_df = pd.concat([result_counts_gemini, result_counts_gpt, result_counts_llama], ignore_index=True).fillna(0)

    display(result_counts_total_df.head())
    return result_counts_total_df

##### Enem 2018

In [208]:
check_models_answers(df_2018, df_2018['year'].unique()[0])
check_models_results(df_2018, df_2018['year'].unique()[0])

GEMINI_2018_answers
B            43
E            38
A            36
C            35
D            30
No answer     3
Name: count, dtype: int64
Soma das respostas do GEMINI: 185
GPT3.5_2018_answers
E    46
B    42
D    41
C    36
A    20
Name: count, dtype: int64
Soma das respostas do GPT3.5: 185
Llama2_2018_answers
C    69
B    53
E    31
D    25
A     7
Name: count, dtype: int64
Soma das respostas do Llama2: 185
GPT_result
True     96
False    89
Name: count, dtype: int64
Llama2_result
False    100
True      85
Name: count, dtype: int64
GEMINI_result
True         120
False         62
No answer      3
Name: count, dtype: int64

In [209]:
enem_2018_results = save_models_results(df_2018, df_2018['year'].unique()[0])

,Right,Wrong,No answer,Year,Model,CN_true,CN_false,CH_true,CH_false,CH_no_answer,LC_true,LC_false,LC_no_answer,MT_true,MT_false
0,120,62,3.0,2018,GEMINI,30,15,39,5,1.0,36,12,2.0,15,30
1,96,89,0.0,2018,GPT,22,23,36,9,0.0,30,20,0.0,8,37
2,85,100,0.0,2018,Llama2,18,27,32,13,0.0,31,19,0.0,4,41

##### Enem 2019

In [210]:
check_models_answers(df_2019, df_2019['year'].unique()[0])
check_models_results(df_2019, df_2019['year'].unique()[0])

GEMINI_2019_answers
A            45
C            41
B            39
D            35
E            24
No answer     1
Name: count, dtype: int64
Soma das respostas do GEMINI: 185
GPT3.5_2019_answers
D    50
C    39
B    34
E    34
A    28
Name: count, dtype: int64
Soma das respostas do GPT3.5: 185
Llama2_2019_answers
C    68
B    49
E    30
D    26
A    12
Name: count, dtype: int64
Soma das respostas do Llama2: 185
GPT_result
True     107
False     78
Name: count, dtype: int64
Llama2_result
False    103
True      82
Name: count, dtype: int64
GEMINI_result
True         125
False         59
No answer      1
Name: count, dtype: int64

In [211]:
enem_2019_results = save_models_results(df_2019, df_2019['year'].unique()[0])

,Right,Wrong,No answer,Year,Model,CN_true,CN_false,CH_true,CH_false,LC_true,LC_false,LC_no_answer,MT_true,MT_false
0,125,59,1.0,2019,GEMINI,26,19,39,6,41,8,1.0,19,26
1,107,78,0.0,2019,GPT,27,18,35,10,35,15,0.0,10,35
2,82,103,0.0,2019,Llama2,20,25,32,13,26,24,0.0,4,41

##### Enem 2020

In [212]:
check_models_answers(df_2020, df_2020['year'].unique()[0])
check_models_results(df_2020, df_2020['year'].unique()[0])

GEMINI_2020_answers
C            42
A            41
D            41
B            35
E            25
No answer     1
Name: count, dtype: int64
Soma das respostas do GEMINI: 185
GPT3.5_2020_answers
A    50
D    48
C    38
E    26
B    23
Name: count, dtype: int64
Soma das respostas do GPT3.5: 185
Llama2_2020_answers
C    82
D    36
B    31
E    27
A     9
Name: count, dtype: int64
Soma das respostas do Llama2: 185
GPT_result
True     93
False    92
Name: count, dtype: int64
Llama2_result
True     101
False     84
Name: count, dtype: int64
GEMINI_result
True         128
False         56
No answer      1
Name: count, dtype: int64

In [213]:
enem_2020_results = save_models_results(df_2020, df_2020['year'].unique()[0])

,Right,Wrong,No answer,Year,Model,CN_true,CN_false,CN_no_answer,CH_true,CH_false,LC_true,LC_false,MT_true,MT_false
0,128,56,1.0,2020,GEMINI,29,15,1.0,39,6,43,7,17,28
1,93,92,0.0,2020,GPT,18,27,0.0,32,13,36,14,7,38
2,101,84,0.0,2020,Llama2,22,23,0.0,31,14,30,20,18,27

##### Enem 2022

In [214]:
check_models_answers(df_2022, df_2022['year'].unique()[0])
check_models_results(df_2022, df_2022['year'].unique()[0])

GEMINI_2022_answers
A            39
C            34
B            26
D            22
E            13
No answer     3
Name: count, dtype: int64
Soma das respostas do GEMINI: 137
GPT3.5_2022_answers
D    49
C    44
E    40
B    27
A    25
Name: count, dtype: int64
Soma das respostas do GPT3.5: 185
Llama2_2022_answers
C    73
B    39
E    35
D    25
A    13
Name: count, dtype: int64
Soma das respostas do Llama2: 185
GPT_result
True     114
False     71
Name: count, dtype: int64
Llama2_result
True     94
False    91
Name: count, dtype: int64
GEMINI_result
False        103
True          79
No answer      3
Name: count, dtype: int64

In [215]:
enem_2022_results = save_models_results(df_2022, df_2022['year'].unique()[0])

,Wrong,Right,No answer,Year,Model,CN_true,CN_false,CH_true,CH_false,LC_true,LC_false,LC_no_answer,MT_true,MT_false
0,103,79,3.0,2022,GEMINI,6,39,24,21,37,10,3.0,12,33
1,71,114,0.0,2022,GPT,27,18,38,7,35,15,0.0,14,31
2,91,94,0.0,2022,Llama2,20,25,30,15,32,18,0.0,12,33

###### Checando se há alguma resposta no formato errado

In [50]:
display(df_2022.query(f'Llama2_2022_answers != "A" and Llama2_2022_answers != "B" and Llama2_2022_answers != "C" and Llama2_2022_answers != "D" and Llama2_2022_answers != "E"'))

Empty DataFrame
Columns: [id, year, area, sp_area, day, body, alternatives, answer, GEMINI_2022_answers, GPT3.5_2022_answers, Llama2_2022_answers, GPT_result, Llama2_result, GEMINI_result]
Index: []

##### Enem 2023

In [216]:
check_models_answers(df_2023, df_2023['year'].unique()[0])
check_models_results(df_2023, df_2023['year'].unique()[0])

GEMINI_2023_answers
B    49
A    49
C    39
D    30
E    18
Name: count, dtype: int64
Soma das respostas do GEMINI: 185
GPT3.5_2023_answers
D    53
C    40
B    34
A    31
E    27
Name: count, dtype: int64
Soma das respostas do GPT3.5: 185
Llama2_2023_answers
C    66
B    46
D    34
E    27
A    12
Name: count, dtype: int64
Soma das respostas do Llama2: 185
GPT_result
True     110
False     75
Name: count, dtype: int64
Llama2_result
False    95
True     90
Name: count, dtype: int64
GEMINI_result
True     132
False     53
Name: count, dtype: int64

In [217]:
enem_2023_results = save_models_results(df_2023, df_2023['year'].unique()[0])

,Right,Wrong,Year,Model,CN_true,CN_false,CH_true,CH_false,LC_true,LC_false,MT_true,MT_false
0,132,53,2023,GEMINI,31,14,43,2,43,7,15,30
1,110,75,2023,GPT,23,22,34,11,40,10,13,32
2,90,95,2023,Llama2,17,28,30,15,35,15,8,37

##### Overall

In [218]:
overall_2018_2023_results = pd.concat([enem_2018_results, enem_2019_results, enem_2020_results, enem_2022_results, enem_2023_results], ignore_index=True).fillna(0)
display(overall_2018_2023_results.head(15))

,Right,Wrong,No answer,Year,Model,CN_true,CN_false,CH_true,CH_false,CH_no_answer,LC_true,LC_false,LC_no_answer,MT_true,MT_false,CN_no_answer
0,120,62,3.0,2018,GEMINI,30,15,39,5,1.0,36,12,2.0,15,30,0.0
1,96,89,0.0,2018,GPT,22,23,36,9,0.0,30,20,0.0,8,37,0.0
2,85,100,0.0,2018,Llama2,18,27,32,13,0.0,31,19,0.0,4,41,0.0
3,125,59,1.0,2019,GEMINI,26,19,39,6,0.0,41,8,1.0,19,26,0.0
4,107,78,0.0,2019,GPT,27,18,35,10,0.0,35,15,0.0,10,35,0.0
5,82,103,0.0,2019,Llama2,20,25,32,13,0.0,26,24,0.0,4,41,0.0
6,128,56,1.0,2020,GEMINI,29,15,39,6,0.0,43,7,0.0,17,28,1.0
7,93,92,0.0,2020,GPT,18,27,32,13,0.0,36,14,0.0,7,38,0.0
8,101,84,0.0,2020,Llama2,22,23,31,14,0.0,30,20,0.0,18,27,0.0
9,79,103,3.0,2022,GEMINI,6,39,24,21,0.0,37,10,3.0,12,33,0.0
10,114,71,0.0,2022,GPT,27,18,38,7,0.0,35,15,0.0,14,31,0.0
11,94,91,0.0,2022,Llama2,20,25,30,15,0.0,32,18,0.0,12,33,0.0
12,132,53,0.0,2023,GEMINI,31,14,43,2,0.0,43,7,0.0,15,30,0.0
13,110,75,0.0,2023,GPT,23,22,34,11,0.0,40,10,0.0,13,32,0.0
14,90,95,0.0,2023,Llama2,17,28,30,15,0.0,35,15,0.0,8,37,0.0

In [219]:
overall_2018_2023_results['Perc_Right'] = round(overall_2018_2023_results['Right'] / (overall_2018_2023_results['Right'] + overall_2018_2023_results['Wrong'] + overall_2018_2023_results['No answer']) * 100, 2)
overall_2018_2023_results['Perc_Right'] = overall_2018_2023_results['Perc_Right'].apply(lambda x: f'{x}%')
display(overall_2018_2023_results.head(15))

,Right,Wrong,No answer,Year,Model,CN_true,CN_false,CH_true,CH_false,CH_no_answer,LC_true,LC_false,LC_no_answer,MT_true,MT_false,CN_no_answer,Perc_Right
0,120,62,3.0,2018,GEMINI,30,15,39,5,1.0,36,12,2.0,15,30,0.0,64.86%
1,96,89,0.0,2018,GPT,22,23,36,9,0.0,30,20,0.0,8,37,0.0,51.89%
2,85,100,0.0,2018,Llama2,18,27,32,13,0.0,31,19,0.0,4,41,0.0,45.95%
3,125,59,1.0,2019,GEMINI,26,19,39,6,0.0,41,8,1.0,19,26,0.0,67.57%
4,107,78,0.0,2019,GPT,27,18,35,10,0.0,35,15,0.0,10,35,0.0,57.84%
5,82,103,0.0,2019,Llama2,20,25,32,13,0.0,26,24,0.0,4,41,0.0,44.32%
6,128,56,1.0,2020,GEMINI,29,15,39,6,0.0,43,7,0.0,17,28,1.0,69.19%
7,93,92,0.0,2020,GPT,18,27,32,13,0.0,36,14,0.0,7,38,0.0,50.27%
8,101,84,0.0,2020,Llama2,22,23,31,14,0.0,30,20,0.0,18,27,0.0,54.59%
9,79,103,3.0,2022,GEMINI,6,39,24,21,0.0,37,10,3.0,12,33,0.0,42.7%
10,114,71,0.0,2022,GPT,27,18,38,7,0.0,35,15,0.0,14,31,0.0,61.62%
11,94,91,0.0,2022,Llama2,20,25,30,15,0.0,32,18,0.0,12,33,0.0,50.81%
12,132,53,0.0,2023,GEMINI,31,14,43,2,0.0,43,7,0.0,15,30,0.0,71.35%
13,110,75,0.0,2023,GPT,23,22,34,11,0.0,40,10,0.0,13,32,0.0,59.46%
14,90,95,0.0,2023,Llama2,17,28,30,15,0.0,35,15,0.0,8,37,0.0,48.65%

In [220]:
overall_2018_2023_results.describe()
overall_2018_2023_results.to_csv(f'{EXPERIMENTS_PATH}/{EXPERIMENT_NUMBER}/overall_results.csv', index=False)

In [227]:
teste = overall_2018_2023_results.groupby('Model').agg({'Right': 'sum', 'Wrong': 'sum', 'No answer': 'sum'}).reset_index()
teste['Total'] = teste['Right'] + teste['Wrong'] + teste['No answer'].apply(lambda x: int(x))
display(teste)

    Model  Right  Wrong  No answer  Total
0  GEMINI    584    333        8.0    925
1     GPT    520    405        0.0    925
2  Llama2    452    473        0.0    925

[5. 5. 5.]

#### Análise 2018 - 2023

##### Enem 2017

### Experimento 2

In [55]:
df = pd.read_csv(f'{EXPERIMENTS_PATH}/{2}/{YEAR}/enem_2023.csv')
df.head()

,id,year,area,sp_area,day,body,alternatives,answer,GPT3.5_2023_answers
0,01I,2023,LC - Linguagens e Códigos,Inglês,D1,"QUESTÃO 01 \nNo man is an island,\nEntire of ...",\nA medo da morte.\nB ideia de conexão.\nC con...,B,B
1,02I,2023,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 02 \nThings We Carry on the Sea\nWe c...,\nA risco de choques culturais.\nB impacto do ...,D,D
2,03I,2023,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 03 \nDescrição do cartaz: Foto de par...,\nA os lixões precisam de ampliação. \nB o des...,B,B
3,04I,2023,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 04 \nDescrição do cartum: Em um escri...,\nA criticar um padrão de vestimenta.\nB desta...,B,D
4,05I,2023,LC - Linguagens e Códigos,Inglês,D1,QUESTÃO 05 \nSpanglish (fragmento)\nTato Lavi...,\nA convergência linguístico-cultural.\nB cara...,A,A

In [56]:
df['GPT_result'] = df['GPT3.5_2023_answers'] == df['answer']
df['GPT_result'].value_counts()

GPT_result
True     113
False     72
Name: count, dtype: int64

### Testes

In [80]:
display(df_2018[['area','GPT_result','id']].groupby(['area','GPT_result',]).count().transpose())

area       CH - Ciências Humanas      CN - Ciências da Natureza       \
GPT_result                 False True                     False True
id                             7   33                        25   25

area       LC - Linguagens e Códigos      MT - Matemática e Códigos
GPT_result                     False True                     False True
id                                20   30                        37    8

In [110]:
cn_true = df_2018.query('area == "CN - Ciências da Natureza" and GPT_result == "True"').shape[0]
print(cn_true)

cn_false = df_2018.query('area == "CN - Ciências da Natureza" and GPT_result == "False"').shape[0]
display(cn_false)

cn_no_answer = df_2018.query('area == "CN - Ciências da Natureza" and GPT_result == "No answer"').shape[0]
print(cn_no_answer)

ch_true = df_2018.query('area == "CH - Ciências Humanas" and GPT_result == "True"').shape[0] 
print(ch_true)  

ch_false = df_2018.query('area == "CH - Ciências Humanas" and GPT_result == "False"').shape[0]  
print(ch_false)

25

25

0
33
7